body
{
    direction: rtl;
}
a
{
    text-decoration: none;
}
/* Menu */
#Menu
{
    position: absolute;
    z-index: 2;
    background: transparent ;
}
#Menu-Box
{
    z-index: 3;
}
#Menu-Open
{
    position: absolute;
}
#Menu-Close
{
    position: absolute;
}
#Menu-Item
{
    z-index: 99;
}
/* Header */
header
{
    position: absolute;
    background: transparent ;
}
header ul
{
    list-style: none;
}
header li
{
    cursor: pointer;
    display: inline-block;
    font-weight: bold;;
}

/* Content */
#Content
{
    position: relative;
}

#Pic
{
    position: absolute;
}

/* Change */

#Change h2
{
   font-weight: bolder !important;
}
/* Home */
 #Home
 {
    text-align: right;
 }
 #Home h3
{
    font-weight: bold !important;
    text-align: right !important;
}
 #Home p
 {
    font-weight: bold !important;
 }
/* Biography */

/* Records */

/* Cammping */

/* Contact */
