@media screen and (max-width :320px) {
    .row
    {
        width: 100% !important;
    }
    /* Menu */
    #Menu
    {
        display: flex;
        height: 100%;
        width: 100%;
        margin-right: -100px;
    }
    #Menu-Open
    {
        width: 60px !important;
        height: 50px !important;
        margin-top: 20px;
        margin-right: 120px;
    }
    /* Menu Box */
    #Menu-Box
    {
        width: 70% !important;
        height: 100% !important;
        margin-right: 100px;
        transition: all 0.5s ease-in-out;
    }
    .MenuClose
    {
        margin-right: -300px !important;
    }
    #Menu-BackGround
    {
        width: 100%;
        height: 100%;
    }
    #Menu-Close
    {
        width: 60px !important;
        height: 50px !important;
        margin-top: 20px;
        margin-right: -200px;
    }
    #Menu-Item
    {   
        margin-top: -600px;
    }
    #Menu-Item li 
    {
        font-size: 20px;
    }
    /* Header */
    header 
    {
        display: none;
    }
    /* Content */
    #Content
    {
        width: 100%!important;
    }
    #Vector
    {
        width: 80% !important;
        height: 100.7vh !important;
        clip-path: polygon(0 0 , 100% 0 , 100% 100% , 40% 100%);
    }
    #Vector img
    {
        width: 100% !important;
        height: 100% !important;
        opacity: 20%;
    }
    #Pic img 
    {
        margin-top: 420px;
        margin-right: 40px;
        width: 250px;
        height: 500px;
    }
    /* Change */
    #Change
    {
        position: absolute;
        width: 80% !important;
        height: 700px !important;
        margin-right: 100px;
        margin-top: -100px;
    }
    #Change section
    {
        width: 100% !important;
        height: 100% !important;
    }
    #Change h2
    {
       font-size: 25px !important;
       margin-right: -50px;
    }
    /* Home */
    #Home
    {
       padding-top: 200px !important;
    }
    #Home h3
    {
        font-size: 30px !important;
       margin-right: -50px;
        padding-top: 10px;
    }
    #Home p
    {
       padding-top: 10px !important;
       font-size: 16px;
       margin-right: -50px;
    }
    /* Biography */
    #Biography
    {
       padding-top: 180px;
    }
    #Biography p
    {
       padding-top: 5px;
       font-size: 13px;
       margin-right: -60px;
    }
    /* Records */
    #Records
    {
       padding-top: 250px;
    }
    #Records p
    {
       padding-top: 30px;
       margin-right:-50px;
       font-size: 15px;
    }
    /* Cammping */
    #Cammping
    {
       padding-top: 250px;
    }
   #Cammping h3
   {
       padding-top: 25px;
       margin-right: -50px;
       font-size: 17px;
   }
   #Cammping iframe
   {
        display: none;
       margin-top: 50px;
       width: 350px !important;
       height: 200px !important;
       border-radius: 50px;
   }
   /* Contact */
   #Contact
   {
      padding-top: 200px;  
   }
   #Contact h3
   {
      padding-top: 20px;
      margin-right: -50px;
      font-size: 15px;
   }
   #Contact .SocialBox
  {
      width: 300px !important;
      padding-top: 30px;
      margin-right: -100px;
  }
   #Contact .SocialMedia
   {
      width: 45px;
      height: 45px;
      margin-left: 5px;
      border-radius: 100%;
   }
   #Contact img
   {
       width: 100% !important;
   }
}